@{
    ViewBag.Title = "History";
}



<hr />
<h3>This is a long and crazy story. </h3>
<br />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida pulvinar dui. Suspendisse eu dolor est.
    Nulla nunc augue, congue ut urna non, tincidunt malesuada lorem. Etiam pulvinar massa eget lectus aliquet ultricies.
    Ut bibendum metus ut nibh malesuada auctor. Nullam auctor venenatis dolor eget finibus.
    Nullam tempus nisl at lorem auctor, et cursus ipsum tristique. Sed tempor dignissim felis, eu interdum sapien
    pretium non. Fusce nunc velit, dictum at consectetur ut, venenatis ut tortor. Nam ac porta odio.
    Nulla rhoncus enim sed egestas ultrices. Praesent aliquam pellentesque eros, ornare tempus lectus volutpat ac.
    Maecenas a dolor leo.

    Curabitur sit amet nibh viverra, dignissim felis sit amet, cursus dolor. Vivamus dignissim posuere neque.
    Duis pulvinar tortor nec metus tempus fringilla. Cras interdum, libero sed interdum accumsan, arcu lacus ornare
    lectus, ac iaculis libero nisl et ex. Praesent suscipit tincidunt mi sit amet consequat.
    Suspendisse eget interdum arcu. Vestibulum rutrum gravida feugiat. Mauris fermentum, erat a tempus pharetra,
    odio felis convallis orci, non pulvinar nisi sapien nec orci.
</p>

<img src="~/Content/coffeshop.jpg" />