@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title</h2>


<address>
    One Roasters Way<br />
    Coffeetown, USA 90210-0001<br />
    <abbr title="Phone">P:</abbr>
    123.456.7891
</address>

<address>
    <strong>Questions:</strong>   <a href="mailto:hello@coffee.co">hello@coffee.co</a><br />

</address>