@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coffee & Co.</h1>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Story</h2>
        <p>
            Coffee & Co. started as a passion project in Java Joe's garage. Read the whole story!
        </p>
        <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Have Feedback?</h2>
        <p>Let us know how you feel.</p>
        <p><a class="btn btn-default" href="Home/Contact">Contact &raquo;</a></p>
    </div>    
</div>
